<!DOCTYPE html>
<html>
<head>
    <title>SignIn</title>
    <link href="style.css" rel="stylesheet">

    <script src="data.js"></script>

    <script>
        function logIn() {
            const username = document.getElementById('username').value
            const password = document.getElementById('password').value
            console.log('SignIN', username, password)
            signin(username, password).then(() => {
                window.location = '/'
            })
        }
    </script>
</head>

<body>
<div class="wrapper">
    <div class="form-signin">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <input autofocus="" class="form-control" id="username" name="username" placeholder="Username" required=""
               type="text"/>
        <input class="form-control" id="password" name="password" placeholder="Password" required="" type="password"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" onClick="logIn()">Sign in</button>
    </div>
</div>
</body>
</html>